/* ---- reset ---- */

body {
    margin: 0;
    font:normal 75% Arial, Helvetica, sans-serif;
  }
  
  canvas {
    display: block;
    vertical-align: bottom;
  }
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #262626;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  

.home {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-family: 'Abel', sans-serif;
}

.inner h1 {
    font-size: 96pt;
    height: 140px;
}

.inner p {
    font-size: 24pt;
    margin: 0px;
}

.inner img {
    width: 42px;
    height: 42px;
}

.inner ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.inner li a {
    display: inline;
    padding: 16px;
}

.inner li {
    float: left;
}

.inner h1 {
    margin: 0px
}

.table {
    display: table;
    margin: 15px auto;
}